#categories
  .category-list-title
    color:  $color-accent-2
  .category-list
    .category-list-item
      margin: .4rem 0
      .category-list-count
        color: $color-meta
      .category-list-count:before
        content: " ("
      .category-list-count:after
        content: ")"
      a
        background-image: none
