#writing
  .h1
    margin: 1.6rem 0
    color: $color-accent-3

.post-list
  padding: 0

  .post-item
    margin: 1rem 0
    margin-left: 0
    list-style-type: none
    font-size: 1.1rem

    a
      background-image: none
      font-weight: 600

    .meta
      display: block
      margin-right: 16px
      min-width: 100px
      color: $color-meta

@media (min-width: 480px)
  .post-list
    .post-item
      display: flex
      margin-bottom: 5px

      .meta
        text-align: left

.project-list
  padding: 0
  list-style: none

  .project-item
    margin-bottom: 5px
    p
      display: inline

blockquote
      margin: 0 10px
      padding: 0 10px .5em
      background: inherit
      color: $color-quote
      quotes: "\201C" "\201D" "\2018" "\2019"
      font-weight: bold

      p
        margin: 0

      &:before
        margin-right: .25em
        color: $color-quote
        content: "\201C"
        vertical-align: -.4em
        font-size: 2em
        line-height: .1em

      footer
        margin: line-height 0
        color: $color-accent-1
        font-size: 12px

        a
          background-image: linear-gradient(transparent, transparent 5px, $color-accent-1 5px, $color-accent-1)
          color: $color-accent-1

        a:hover
          background-image: linear-gradient(transparent, transparent 4px, lighten($color-meta, 20%) 4px, lighten($color-meta, 20%))
          color: lighten($color-meta, 20%)

        cite
          &:before
            padding: 0 .5em
            content: "—"
