<% if (page.photos && page.photos.length) { %>
    <% for(var {name, pics} of page.photos) { %>
        <%- markdown(('> ' + name)) %>
        <div class="article-gallery">
            <% pics.forEach(function(photo, i) { %>
                <a class="gallery-item" href="<%- url_for(photo) %>" rel="gallery_<%= page._id %>">
                    <img src="<%- url_for(photo) %>" itemprop="image" />
                </a>
            <% }) %>
        </div>
    <% } %>
<% } %>





