// by @sergodeeva (https://github.com/sergodeeva)
$color-background = #FFFFFF
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = #444
$color-border = #495057
$color-scrollbar = #AAA
$color-meta = #adb5bd
$color-meta-code = lighten($color-meta, 10%)
$color-link = #008000
$color-text = #212529
$color-accent-3 = #adb5bd
$color-accent-2 = #495057
$color-accent-1 = #212529
$color-quote = #008000
$highlight = hexo-config("highlight") || "atelier-cave-light"
